PRIVATE_KEY=your_wallet_private_key_here
BSC_RPC_URL=https://bold-snowy-aura.bsc.quiknode.pro/caf190bd8fe29ec2888785cd6afe0c888bcad0ed
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=your_channel_id
BUY_AMOUNT_BNB=0.01
TAKE_PROFIT_MULTIPLIER=2
KEEP_RATIO=0.5
